.event-day, .events-content {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

a.show-more-events {
    margin: 1px 3px;
    font-size: .85em;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    bottom: 0;
}

.events-content.show-events .event-day.event-day-modal {
    position: absolute;
    display: flex !important;    
    top: -30px;
    /*left: 50px;*/
    width: 200px;
    border: 1px solid;
    z-index: 100;
    background-color: white;
}

.events-content.show-events .event-day-modal ::ng-deep .event {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    width: auto !important;
    margin-bottom: 4px;
}

.events-content.show-events .event-day-modal ::ng-deep .event {
    display: block;
    visibility: visible !important;
}

.events-content .event-day-header {
    display: none;
}

.events-content.show-events .event-day-modal .event-day-header {
    display: flex;
    flex-direction: row-reverse;
    padding: 2px 5px;
}

.events-content.show-events .event-day-modal .event {
    display: block;
    visibility: visible !important;
}

.events-content.show-events .event-day-modal .show-more-events { 
    display: none;
}

.show-more-events {
    display: none;
}

.events-content.hide-events .show-more-events.active {
    display: block;
}