<div class="events-content hide-events" #elEventContent>
    <div class="event-day" #elEventDay data-day-index="1" (drop)="drop($event)" (dragover)="dragOver($event)">
        <app-event *ngFor="let event of eventsByDay" [event]="event"></app-event>
    </div>
    <div *ngIf="showEvents" class="event-day event-day-modal">
        <div class="event-day-header">
            <button type="button" class="btn-close" aria-label="Close" (click)="hideMoreEvents(event);">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <app-event *ngFor="let event of eventsByDay" [event]="event"></app-event>
    </div>
    <a class="show-more-events" [ngClass]="{'active': shouldShowMoreEvents()}" (click)="showMoreEvents(event)">+Mostrar mais</a>
</div>