<div class="days-of-week">
    <div class="day-of-week" data-abbrev="MON">
        <span>MONDAY</span>
    </div>
    <div class="day-of-week" data-abbrev="TUE">
        <span>TUESDAY</span>
    </div>
    <div class="day-of-week" data-abbrev="WED">
        <span>WEDNESDAY</span>
    </div>
    <div class="day-of-week" data-abbrev="THUR">
        <span>THURSDAY</span>
    </div>
    <div class="day-of-week" data-abbrev="FRI">
        <span>FRIDAY</span>
    </div>
    <div class="day-of-week" data-abbrev="SAT">
        <span>SATURDAY</span>
    </div>
    <div class="day-of-week" data-abbrev="SUN">
        <span>SUNDAY</span>
    </div>
</div>