<!--
<div class="totalcal-box">
    <div class="col-md-4">
        <div class="totalcal-view">
            <span class="totalcal-yearlyview" >Yearly</span>
            <span class="totalcal-monthlyview" onclick="changeCalendarView(event, 'month')" >Monthly</span>
            <span class="totalcal-weeklyview" >Weekly</span>
            <span class="totalcal-dailyview" >Daily</span>
            <span class="totalcal-listview totalcalview-selected" onclick="changeCalendarView(event, 'list')">List</span>
        </div>
    </div>
</div>
-->
<div class="filter-box">
    <div class="filter-row">
        <div class="field has-icon col-8">
            <i class="far fa-folder"></i>
            <select>
                <option value="">Cliente</option>
                <option class="level-0" value="57">College</option>
                <option class="level-0" value="36">Events</option>
                <option class="level-1" value="37">&nbsp;&nbsp;&nbsp;meeting</option>
                <option class="level-1" value="56">&nbsp;&nbsp;&nbsp;Risotto Restaurant</option>
                <option class="level-0" value="47">Exhibitions</option>
                <option class="level-0" value="58">learning</option>
                <option class="level-0" value="46">Sport</option>
            </select>
        </div>
        <div class="field has-icon col-2">
            <i class="far fa-calendar-alt"></i>
            <input type="text" value="28/02/2018">
        </div>
        <div class="field has-icon col-2">
            <i class="far fa-calendar-alt"></i>
            <input type="text" value="28/02/2018">
        </div>
    </div>
    <div class="filter-row">
        <div class="field has-icon col-8">
            <i class="far fa-folder"></i>
            <select>
                <option value="">Loja</option>
                <option class="level-0" value="57">College</option>
                <option class="level-0" value="36">Events</option>
                <option class="level-1" value="37">&nbsp;&nbsp;&nbsp;meeting</option>
                <option class="level-1" value="56">&nbsp;&nbsp;&nbsp;Risotto Restaurant</option>
                <option class="level-0" value="47">Exhibitions</option>
                <option class="level-0" value="58">learning</option>
                <option class="level-0" value="46">Sport</option>
            </select>
        </div>
        <div class="field has-icon col-4">
            <i class="fas fa-tasks"></i>
            <select>
                <option value="">Status</option>
                <option class="level-0" value="57">College</option>
                <option class="level-0" value="36">Events</option>
                <option class="level-1" value="37">&nbsp;&nbsp;&nbsp;meeting</option>
                <option class="level-1" value="56">&nbsp;&nbsp;&nbsp;Risotto Restaurant</option>
                <option class="level-0" value="47">Exhibitions</option>
                <option class="level-0" value="58">learning</option>
                <option class="level-0" value="46">Sport</option>
            </select>
        </div>
    </div>
    <div class="filter-row">
        <div class="field has-icon col-12">
            <i class="fas fa-search"></i>
            <input type="search" placeholder="buscar...">
        </div>
    </div>
</div>
<div class="calendar">
    <div class="navigator-container">
        <div class="previous-month"></div>
        <div class="calendar-header">
            <h2>Fevereiro 2018</h2>
        </div>
        <div class="next-month"></div>
    </div>
    <div class="calendar-tables">
        <div class="view-container list-view-container active">
            <div class="event-list">
                <dl class="calendar-table-head">
                    <dt class="calendar-day-head">
                        <span class="week-day" href="#">Thursday</span>
                    </dt>
                </dl>
                <dl class="calendar-row" onclick="openDetail()">
                    <dt class="event-day event-client">SUPERMERCADO DIA%</dt>
                    <dt class="event-day event-marker">
                        <span class="event-dot"></span>
                    </dt>
                    <dt class="event-day event-title">Meeting</dt>
                </dl>
                <dl class="calendar-table-head">
                    <dt class="calendar-day-head">
                        <span class="week-day" href="#">Wednesday</span>
                    </dt>
                </dl>
                <dl class="calendar-row">
                    <dt class="event-day event-client">SUPERMERCADO DIA%</dt>
                    <dt class="event-day event-marker">
                        <span class="event-dot"></span>
                    </dt>
                    <dt class="event-day event-title">Conference</dt>
                </dl>
                <dl class="calendar-table-head">
                    <dt class="calendar-day-head">
                        <span class="week-day" href="#">Friday</span>
                    </dt>
                </dl>
                <dl class="calendar-row">
                    <dt class="event-day event-client">SUPERMERCADO DIA%</dt>
                    <dt class="event-day event-marker">
                        <span class="event-dot"></span>
                    </dt>
                    <dt class="event-day event-title">Meeting</dt>
                </dl>
                <dl class="calendar-row">
                    <dt class="event-day event-client">SUPERMERCADO DIA%</dt>
                    <dt class="event-day event-marker">
                        <span class="event-dot"></span>
                    </dt>
                    <dt class="event-day event-title">Lunch</dt>
                </dl>
            </div>
            <div class="event-detail">
                <dl class="calendar-table-head">
                    <dt class="calendar-day-head" onclick="closeDetail()">
                        <span class="week-day" href="#">Thursday</span>
                    </dt>
                </dl>
                <dl class="calendar-row" style="height: calc(100% - 31px);">
                    <dt class="event-day event-client" 
                        style="width: 100%;height: 100%;">SUPERMERCADO DIA%</dt>
                </dl>
            </div>
        </div>
        
        <div class="view-container month-view-container">
            <dl class="calendar-table-head">
                <dt class="calendar-day-head">MO</dt>
                <dt class="calendar-day-head">TU</dt>
                <dt class="calendar-day-head">WE</dt>
                <dt class="calendar-day-head">TH</dt>
                <dt class="calendar-day-head">FR</dt>
                <dt class="calendar-day-head">SA</dt>
                <dt class="calendar-day-head">SU</dt>
            </dl>
            <dl class="calendar-row">
                <dt class="calendar-nullday">29</dt>
                <dt class="calendar-nullday">30</dt>
                <dt class="calendar-nullday">31</dt>
                <dt class="calendar-day has-event">1</dt>
                <dt class="calendar-day">2</dt>
                <dt class="calendar-day">3</dt>
                <dt class="calendar-day">4</dt>
            </dl>
            <dl class="calendar-row">
                <dt class="calendar-day">5</dt>
                <dt class="calendar-day">6</dt>
                <dt class="calendar-day has-event">7</dt>
                <dt class="calendar-day">8</dt>
                <dt class="calendar-day">9</dt>
                <dt class="calendar-day">10</dt>
                <dt class="calendar-day">11</dt>
            </dl>
            <dl class="calendar-row">
                <dt class="calendar-day">12</dt>
                <dt class="calendar-day">13</dt>
                <dt class="calendar-day">14</dt>
                <dt class="calendar-day">15</dt>
                <dt class="calendar-day has-event">16</dt>
                <dt class="calendar-day">17</dt>
                <dt class="calendar-day">18</dt>
            </dl>
            <dl class="calendar-row">
                <dt class="calendar-day">19</dt>
                <dt class="calendar-day">20</dt>
                <dt class="calendar-day">21</dt>
                <dt class="calendar-day">22</dt>
                <dt class="calendar-day">23</dt>
                <dt class="calendar-day">24</dt>
                <dt class="calendar-day">25</dt>
            </dl>
            <dl class="calendar-row">
                <dt class="calendar-day">26</dt>
                <dt class="calendar-day">27</dt>
                <dt class="calendar-day">28</dt>
                <dt class="calendar-nullday">1</dt>
                <dt class="calendar-nullday">2</dt>
                <dt class="calendar-nullday">3</dt>
                <dt class="calendar-nullday">4</dt>
            </dl>
        </div>
    </div>
</div>

<div class="navigator-loading"></div>
<link rel="stylesheet" href="./components/calendar/calendar.css">
<script src="./components/calendar/calendar.js"></script>