
<div class="totalcal-box">
    <div class="col-md-4">
        <div class="totalcal-view">
            <span class="totalcal-yearlyview" >Yearly</span>
            <span class="totalcal-monthlyview" onclick="changeCalendarView(event, 'month')" >Monthly</span>
            <span class="totalcal-weeklyview" >Weekly</span>
            <span class="totalcal-dailyview" >Daily</span>
            <span class="totalcal-listview totalcalview-selected" onclick="changeCalendarView(event, 'list')">List</span>
        </div>
    </div>
</div>

<div class="calendar">
    <div class="navigator-container">
        <div class="previous-month"></div>
        <div class="calendar-header">
            <h2>Fevereiro 2018</h2>
        </div>
        <div class="next-month"></div>
    </div>
    <div class="calendar-tables">
        <div class="view-container list-view-container active">
            <div class="event-list">
                <dl class="calendar-table-head">
                    <dt class="calendar-day-head">
                        <span class="week-day" href="#">Thursday</span>
                    </dt>
                </dl>
                <dl class="calendar-row" onclick="openDetail()">
                    <dt class="event-day event-client">SUPERMERCADO DIA%</dt>
                    <dt class="event-day event-region">SUL</dt>
                    <dt class="event-day event-store-number">9999</dt>
                    <dt class="event-day event-store">GUARATINGUETÁ - COLINAS - CISS - PP</dt>
                    <dt class="event-day event-status">
                        <span class="event-dot"></span>
                        Meeting
                    </dt>
                </dl>
                <!--
                <dl class="calendar-table-head">
                    <dt class="calendar-day-head">
                        <span class="week-day" href="#">Wednesday</span>
                    </dt>
                </dl>
                <dl class="calendar-row">
                    <dt class="event-day event-client">SUPERMERCADO DIA%</dt>
                    <dt class="event-day event-region">SUL</dt>
                    <dt class="event-day event-store-number">9999</dt>
                    <dt class="event-day event-store">GUARATINGUETÁ - COLINAS - CISS - PP</dt>
                    <dt class="event-day event-status">
                        <span class="event-dot"></span>
                        Conference
                    </dt>
                </dl>
                <dl class="calendar-table-head">
                    <dt class="calendar-day-head">
                        <span class="week-day" href="#">Friday</span>
                    </dt>
                </dl>
                <dl class="calendar-row">
                    <dt class="event-day event-client">SUPERMERCADO DIA%</dt>
                    <dt class="event-day event-region">SUL</dt>
                    <dt class="event-day event-store-number">9999</dt>
                    <dt class="event-day event-store">GUARATINGUETÁ - COLINAS - CISS - PP</dt>
                    <dt class="event-day event-status">
                        <span class="event-dot"></span>
                        Meeting
                    </dt>
                </dl>
                <dl class="calendar-row">
                    <dt class="event-day event-client">SUPERMERCADO DIA%</dt>
                    <dt class="event-day event-region">SUL</dt>
                    <dt class="event-day event-store-number">9999</dt>
                    <dt class="event-day event-store">GUARATINGUETÁ - COLINAS - CISS - PP</dt>
                    <dt class="event-day event-status">
                        <span class="event-dot"></span>
                        Lunch
                    </dt>
                </dl>
            -->
            </div>
            <div class="event-detail">
                <dl class="event-header calendar-table-head">
                    <dt class="calendar-day-head" onclick="closeDetail()">
                        <span class="week-day" href="#">02/02/2018</span>
                    </dt>
                </dl>
                <dl class="event-content">
                    <label>Cliente:</label>
                    <p>SUPERMERCADO DIA%</p>
                    <label>Loja:</label>
                    <p>GUARATINGUETÁ - COLINAS - CISS - PP</p>
                </dl>
                <dl class="event-footer">
                    <a href="#">Visualizar</a>
                </dl>
                <!--dl class="calendar-row" style="height: calc(100% - 31px);">
                    <dt class="event-day event-client" 
                        style="width: 100%;height: 100%;">SUPERMERCADO DIA%</dt>
                </dl-->
            </div>
        </div>
        
        <div class="view-container month-view-container">
            <dl class="calendar-table-head">
                <dt class="calendar-day-head">MO</dt>
                <dt class="calendar-day-head">TU</dt>
                <dt class="calendar-day-head">WE</dt>
                <dt class="calendar-day-head">TH</dt>
                <dt class="calendar-day-head">FR</dt>
                <dt class="calendar-day-head">SA</dt>
                <dt class="calendar-day-head">SU</dt>
            </dl>
            <dl class="calendar-row">
                <dt class="calendar-nullday">29</dt>
                <dt class="calendar-nullday">30</dt>
                <dt class="calendar-nullday">31</dt>
                <dt class="calendar-day has-event">1</dt>
                <dt class="calendar-day">2</dt>
                <dt class="calendar-day">3</dt>
                <dt class="calendar-day">4</dt>
            </dl>
            <dl class="calendar-row">
                <dt class="calendar-day">5</dt>
                <dt class="calendar-day">6</dt>
                <dt class="calendar-day has-event">7</dt>
                <dt class="calendar-day">8</dt>
                <dt class="calendar-day">9</dt>
                <dt class="calendar-day">10</dt>
                <dt class="calendar-day">11</dt>
            </dl>
            <dl class="calendar-row">
                <dt class="calendar-day">12</dt>
                <dt class="calendar-day">13</dt>
                <dt class="calendar-day">14</dt>
                <dt class="calendar-day">15</dt>
                <dt class="calendar-day has-event">16</dt>
                <dt class="calendar-day">17</dt>
                <dt class="calendar-day">18</dt>
            </dl>
            <dl class="calendar-row">
                <dt class="calendar-day">19</dt>
                <dt class="calendar-day">20</dt>
                <dt class="calendar-day">21</dt>
                <dt class="calendar-day">22</dt>
                <dt class="calendar-day">23</dt>
                <dt class="calendar-day">24</dt>
                <dt class="calendar-day">25</dt>
            </dl>
            <dl class="calendar-row">
                <dt class="calendar-day">26</dt>
                <dt class="calendar-day">27</dt>
                <dt class="calendar-day">28</dt>
                <dt class="calendar-nullday">1</dt>
                <dt class="calendar-nullday">2</dt>
                <dt class="calendar-nullday">3</dt>
                <dt class="calendar-nullday">4</dt>
            </dl>
        </div>
    </div>
</div>

<div class="navigator-loading"></div>
<link rel="stylesheet" href="./components/calendar/calendar.css">
<script src="./components/calendar/calendar.js"></script>