a.show-more-events {
    margin: 1px 3px;
    font-size: .85em;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    bottom: 0;
}

.events-content.show-events .event-day.event-day-modal {
    position: absolute;
    display: flex !important;    
    top: -30px;
    /*left: 50px;*/
    width: 200px;
    border: 1px solid;
    z-index: 100;
    background-color: white;
}

.events-content.show-events .event-day-modal .event {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    width: auto !important;
    margin-bottom: 4px;
}

.events-content .event-day-header {
    display: none;
}

.events-content.show-events .event-day-modal .event-day-header {
    display: flex;
    flex-direction: row-reverse;
    padding: 2px 5px;
}

.events-content.show-events .event-day-modal .event {
    display: block;
    visibility: visible !important;
}

.events-content.show-events .event-day-modal .show-more-events { 
    display: none;
}

.show-more-events {
    display: none;
}

.event[data-order="4"], .event[data-order="5"], .event[data-order="6"], .event[data-order="7"], .event[data-order="8"], .event[data-order="9"], .event[data-order="10"] {
    display: none;
}


.events-content.hide-events[data-total-events="4"] .show-more-events, .events-content.hide-events[data-total-events="5"] .show-more-events, .events-content.hide-events[data-total-events="6"] .show-more-events, .events-content.hide-events[data-total-events="7"] .show-more-events, .events-content.hide-events[data-total-events="8"] .show-more-events, .events-content.hide-events[data-total-events="9"] .show-more-events, .events-content.hide-events[data-total-events="10"] .show-more-events {
    display: block;
}